@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #01325f;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.7;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 20px;
    background: #217cd1;
    height: 100%;
}

.cabecalho-menu-item{
    margin: 10px;
}

.logo-oasis{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #217cd1;
    height: 10vh;
    margin: 10px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.copyright{
    font-size: 12px;
}

.source{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.quote{
    font-size: 20px;
    text-align: center;
    color: #f1f1f1;
}

.anuncio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.videos-cultos{
    margin-bottom: 100px;
}



footer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 20px;
    background: #217cd1;
}


#text{
    color: #fff;
    font-size: 30px;
	letter-spacing: 2px;
	margin: 0;
	font-family: 'Manrope', sans-serif;
}

.videos{
    margin-bottom: 20px;
}

.video-culto{
    width: 600px;
    height: 340px;
    margin-bottom: 28px;
    margin-top: 20px;
    margin: 20px;
}

/* width="560" height="315" */


@media (max-width: 999px) {

    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    body{
        height: 100%;
        background-color: #01325f;
    }
    
    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
      
    a:hover {
        opacity: 0.7;
    }
    
    .cabecalho{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        font-size: 15px;
        background: #217cd1;
        height: 100%;
    }
    
    .cabecalho-menu-item{
        margin: 8px;
    }
    
    .logo-oasis{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        background: #217cd1;
        height: 8vh;
    }
    
    .logo {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    

    .copyright{
        font-size: 6px;
    }
    
    .anuncio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .anuncie{
        margin-top: 12%;
        width: 80%;
    }
    
    footer{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        font-size: 15px;
        background: #217cd1;
    }    
    

    .video-culto{
        width: 85%;
        height: 340px;
        margin-bottom: 28px;
        margin-top: 20px;
    }

}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}